@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// override Bulma's global variables
$family-sans-serif: "IBM Plex Sans", sans-serif;
$grey-light: #D0D1CD;
$primary: #c64d32;
$link: #32abc6;
$widescreen-enabled: false;
$fullhd-enabled: false;
$size-1: 4rem;

// navbar
$navbar-background-color: #000000;
$navbar-item-color: #FFFFFF;
$navbar-height: 2.5rem;

// breadcrumb
$breadcrumb-item-color: $primary;
$breadcrumb-item-hover-color: #363636;
$breadcrumb-item-separator-color: #363636;

// home
.keyword {
    text-decoration: underline;
}

// icon sizes
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-80 { font-size: 80px; }

// arrow animation
.indicator-down {
    animation: down 1s ease infinite;
}

@keyframes down {
    50% {
        transform: translateY(-25%);
    }
}

.indicator-up {
    animation: down 1s ease infinite;
}

@keyframes up {
    50% {
        transform: translateY(-25%);
      }
}

// footer
$footer-padding: 2rem;
$footer-background-color: #363636;
$footer-color: #FFFFFF;
.sticky-footer {
    position: sticky;
    top: 100%;
}
.footer-parent {
    min-height: 100vh;
}
.white-hover:hover{
    color: #FFFFFF;
}

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// import bulma
@import "~bulma/bulma.sass";
@import '~bulma-timeline';