@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

// override Bulma's global variables
$family-sans-serif: "IBM Plex Sans", sans-serif;
$grey-dark: #757763;
$grey-light: #D0D1CD;
$primary: #c64d32;
$link: #32abc6;
$widescreen-enabled: false;
$fullhd-enabled: false;
$size-1: 4rem;
$link-hover: #FFFFFF;

// navbar
$navbar-background-color: #000000;
$navbar-item-color: #FFFFFF;
$navbar-height: 2.5rem;

// breadcrumb
$breadcrumb-item-color: $primary;
$breadcrumb-item-hover-color: #363636;
$breadcrumb-item-separator-color: #363636;

// link on homepage
.keyword {
    text-decoration: underline;
}

// footer
$footer-padding: 2rem;
$footer-background-color: #363636;
$footer-color: #FFFFFF;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "~bulma/bulma.sass";